body *{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
}
header img{
    padding-top: 1em;
    width: 20%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}


#mainWrapper {
    border: 1px solid gray;
    border-radius: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    padding: 2em 0 1em;
    width: 50%;
}

.formWrapper{
    display: flex;
    justify-content: space-between;
}

.buttonWrapper{
    display: flex;
    margin-right: 2em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn svg{
    transform: scale(1.2);
}

#searchBar{
    flex-grow:2;
    padding-left: 1em;
}

#searchButton, #refreshButton{
    border-radius: 0;
}

#modalFormWrapper form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#modalFormWrapper input{
    width: 100%;
}

#modalFormWrapper input:invalid{
    border: 1px solid red;
}

#modalFormWrapper textarea:invalid{
    border: 1px solid red;
}

#modalFormWrapper form:has(:invalid) .saveButton{
    background-color: grey !important;
}

thead{
    vertical-align: middle;
}

thead .tdCheck{
    padding-top: 1em;
}

.tdCheck{
    text-align: center;
}

.tdCheck input[type=checkbox]{
    width: 20px;
    height: 20px;
}

tbody td{
    vertical-align: middle;
}

.tdImg{
    width: 10%;
}

.tdPrice{
    text-wrap: nowrap;
    text-align: end;
}

.imgWrapper {
    display: flex;
    width: 100%;
}

.imgWrapper img{
    object-fit: cover;
    border-radius: .5em;
}

.tdDescription{
    max-width: 10%;
}

td button{
    border: none;
    /* transform: scale(1.2); */
    /* margin: 0.2em; */
}

.tdPrice{
    font-weight: bolder;
    font-size: larger;
}
