body *{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
}
header a{
    padding-top: 1em;
    width: 20%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

nav{
    width: 100%;
    -webkit-box-shadow: 0px 10px 25px 2px #303030;
    -moz-box-shadow: 0px 10px 25px 2px #303030;
    -o-box-shadow: 0px 10px 25px 2px #303030;
    box-shadow: 0px 10px 25px 2px #303030;
}

nav img{
    width: 50px;
}

.nav-item{
    position: relative;
}

.badge{
    position: absolute;
    background-color: #D6ACAE;
    top: -20%;
    right: -10%;
    border-radius: 50%;
}

#navbarNav{
    justify-content: center;    
}

#cartButton{
    margin-left: 2em;
    width: auto;
    height: 92%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#cardsContainer{
    display: flex;
    padding: 2.5em 2em 0;
}

.cardWrapper{
    padding: 1em;
    position: relative;
}

.card{
    background-color: #E9D8D9;
    position: relative;
    height: 100%;
}

.card hr{
    margin: 0.5em 0;
}

.imgWrapper{
    position: relative;
}

.bottomButtonWrapper{
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 5%
}

.card-body a{
    text-decoration: none;
    color: black;
}

.price{
    text-wrap: nowrap;
}

@media screen and (min-width: 1501px){
	#sideMenu{
        width: 30%;
    }
}

@media screen and (min-width: 501px) and (max-width: 1500px){
	#sideMenu{
        width: 40%;
    }
}

@media screen and (max-width: 500px){
	#sideMenu{
        width: 100%;
    }
}

#sideMenu img{
    width: 180px;
    margin-bottom: 1em;
}

#cartList hr{
    margin-bottom: 1em;
    margin-right: 10%;
}

.productList button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1em;
}

.productInfos{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.productInfos p:nth-child(2){
    text-wrap: nowrap;
}

#totalCart button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1em;
}

